.container {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  display: inline-flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

.containerHamburguer {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin: 5px;
}

.containerIngredients {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 0;
  margin: 5px;
}

.genericCont {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 5px;
  padding-top: 20px;
}

.containerExtras {
  display: flex;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
}

.containerDrinks {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 0;
  margin: 5px;
  box-sizing: border-box;
}

.containerAccompaniments {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 0;
  margin: 5px;
  /* width: 45%; */
  box-sizing: border-box;
}

.logoUp {
  display: flex;
  justify-content: center;
}

.iconProduct {
  color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
  font-size: 50px;
}

.Burger {
  display: flex;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
}

.bebidasAccom {
  display: flex;
}

.Modal {
  display: flex;
  flex-direction: column;

  border-radius: 30px;
  border: none;

  margin-top: 120px;
  margin-left: 150px;
  margin-right: 150px;

  /* 	width: 70%;
	height: 70%; */
  padding: 50px;
  /*top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;*/
  background-color: rgb(122, 122, 122);
}

/* .buttonCancel {
	background-color: #ffc107;
	color: white;
} */

.contentButtonNext {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}

.buttonNext {
  color: #ffffff;
  background: #f5c6c6;
  /*  #AADAD2 */
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 5px;
  color: rgb(56, 57, 58);
  text-decoration: none;
  width: 180px;
}

.buttonNext:hover {
  /* prueba */
  opacity: 0.8;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.list li {
  color: #ffffff;
  display: inline;
  padding-left: 0;
}
.list {
  padding-left: 20px;
}
