.arrow {
  width: 80px;
}
.button {
  background-color: #f5c6c6;
}

.Modal {
  position: absolute;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100px;

  width: 80%;
  height: 80%;
  padding: 50px;
  /*top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;*/
  background-color: #aadad2;
}
.buttonCancel {
  background-color: #ffc107;
}
